<%= form_for :search, url: search_path, method: :get do |f| %>
  <p>
    
    <%= text_field_tag :q, params[:q],class:"form-control",required:"true" %>
    <%= submit_tag "Go", name: nil,class:"btn btn-default"%>
  </p>
<% end %>